@page "/fetchdata"
@using MudTracker.Shared
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Min</th>
                <th>Rain</th>
                <th>POP</th>
                <th>Uvi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var day in forecast.Daily)
            {
                <tr>
                    <td>@day.Temp.Min</td>
                    <td>@day.Rain</td>
                    <td>@day.ProbabilityOfPrecipitation</td>
                    <td>@day.Uvi</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast forecast;

    protected override async Task OnInitializedAsync()
    {
        forecast = await Http.GetFromJsonAsync<WeatherForecast>("WeatherForecast");
    }

}
