@page "/rawdata"
@using MudTracker.Shared
@using System.Net.Http
@using System.Text.Json
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the OpenWeatherApi - One Call API</p>

@if (forecast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col">
            <textarea>@((MarkupString)forecastJson)</textarea>
        </div>        
    </div>
}

@code {
    private WeatherForecast forecast;
    private string forecastJson;

    protected override async Task OnInitializedAsync()
    {
        forecast = await Http.GetFromJsonAsync<WeatherForecast>("WeatherForecast");

        forecastJson = JsonSerializer.Serialize(forecast);
    }
}
